body{
  margin: 0;
  padding: 0;
  background-color: rgba(25, 26, 25, 0.144);
}
.container{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 20px auto;
  display: flex;
  height: 70vh;
  width: 50vw;
  border: 1px solid black;
  box-shadow: 2px 2px 6px black;
  border-radius: 5px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
#myH1{
  font-size: 25px;
  margin-top: 0;
  padding: 0;
  /* font-family:'Open Sans', 'Helvetica Neue', sans-serif; */
  letter-spacing: 2px;
  font-style: italic;
}
#colorContainer{
  height: 70vh;
  width: 350px;
  background-color: black;
}
p{
  font-size: large;
}
#buttonCollor{
  border-radius: 5px;
  border: 1px solid ;
  height: 3em;
  width: 7em;
  font-weight: 600;
}
#buttonCollor:hover{
  background-color: rgba(0, 0, 0, 0.137);
}
#colorCode{
  font-size: 20px;
  padding: 5px;
  width: 90%;
  position: relative;
  text-align: center;

}
